<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Schedule</title>
        <meta name="description" content="Schedule">
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <header id="banner">
        <h1>My Schedule</h1>
    </header>
    <body ng-app="scheduleApp" ng-controller="ScheduleController">
        <div id="todoContainer">
            <div id="todo">
                <h3>Todo List<button id="addTodo">Add Task</button></h3>
                <ul>
                    <li ng-repeat="item in toDoItems">{{item}}<img src = "cancel_but.png"
                                                                   onmouseover="this.src='cancel_but_hover.png'"
                                                                   onmouseout="this.src='cancel_but.png'"
                                                                   ng-click="delTodo(item);"/></li>
                </ul>
            </div>
        </div>
        <div id="classList">
            <h3>Classes<button id="addClass">Add Class</button></h3>
            <div id="clssCont">
                <div ng-repeat="class in testClasses">{{class.name}}<img src = "cancel_but.png"
                                                                         onmouseover="this.src='cancel_but_hover.png'"
                                                                         onmouseout="this.src='cancel_but.png'"
                                                                         ng-click="delClass(class)"/></div>
            </div>
        </div>
        <div id="week">
            <h3>Weekly Lectures</h3>
            <div id="days">
                <div id="mo">
                    <h4>Monday</h4>
                    <p ng-repeat="class in testClasses" | ng-show="class.days.indexOf('mo') != -1">{{class.name}}<br>
                        {{class.strTime+' - '+class.endTime}}<br>
                        {{class.loc}}
                    </p>
                </div>
                <div id="tu">
                    <h4>Tuesday</h4>
                    <p ng-repeat="class in testClasses" | ng-show="class.days.indexOf('tu') != -1">{{class.name}}<br>
                        {{class.strTime+' - '+class.endTime}}<br>
                        {{class.loc}}
                    </p>
                </div>
                <div id="we">
                    <h4>Wednesday</h4>
                    <p ng-repeat="class in testClasses" | ng-show="class.days.indexOf('we') != -1">{{class.name}}<br>
                        {{class.strTime+' - '+class.endTime}}<br>
                        {{class.loc}}
                    </p>
                </div>
                <div id="th">
                    <h4>Thursday</h4>
                    <p ng-repeat="class in testClasses" | ng-show="class.days.indexOf('th') != -1">{{class.name}}<br>
                        {{class.strTime+' - '+class.endTime}}<br>
                        {{class.loc}}
                    </p>
                </div>
                <div id="fr">
                    <h4>Friday</h4>
                    <p ng-repeat="class in testClasses" | ng-show="class.days.indexOf('fr') != -1">{{class.name}}<br>
                        {{class.strTime+' - '+class.endTime}}<br>
                        {{class.loc}}
                    </p>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="web">
                <h3>Class Websites</h3>
                <div>
                    <a ng-repeat="class in testClasses" href="{{class.webUrl}}">{{class.name}}</a>
                </div>
            </div>
            <div id="finals">
                <h3>Finals</h3>
                <div id="fins">
                    <!--
                    <p>Lecture 1 <br> final hall 1</p>-->
                    <p ng-repeat="class in testClasses">{{class.name}}<br>{{class.final.date}}<br>
                        {{class.final.strTime + ' - ' + class.final.endTime}}<br>{{class.final.loc}}
                    </p>
                </div>
            </div>
        </div>
        <div id="formBackground">
            <form id="addNewTodo" ng-submit="addTodo()">
                <h3>Add New Todo Item<br></h3>
                <input class="inputText" type="text" ng-model="newTodoItem" placeholder="Type new todo here"><br>
                <input class="submitNew" type="submit">
                <button type="button" class="cancel" id="cancelTodo">Cancel</button>
            </form>
            <form id="addNewClass" ng-submit="addClass()">
                <h3 style="border-bottom-style: inset; margin-bottom:10px;">Add New Class<br></h3>

                <h4>Class Name:<br></h4>
                <input class="inputText" type="text" ng-model="className" placeholder="Type new class name here"><br>
                <h4>Lecture Days:<br></h4>
                <label><input class="newDays" type="checkbox" ng-model="mon" value="Monday">Monday</label>
                <label><input class="newDays" type="checkbox" ng-model="tue" value="Tuesday">Tuesday</label>
                <label><input class="newDays" type="checkbox" ng-model="wed" value="Wednesday">Wednesday</label>
                <label><input class="newDays" type="checkbox" ng-model="thu" value="Thursday">Thursday</label>
                <label><input class="newDays" type="checkbox" ng-model="fri" value="Friday">Friday</label><br>

                <div id="lecTimeContainer">
                    <div id="lecStartTime">
                        <h4>Lecture Start Time:<br></h4>
                        <select ng-model="newLecTime.startHr">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select> :
                        <select ng-model="newLecTime.startMin">
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <select ng-model="newLecTime.startAmPm">
                            <option value="am">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                    <div id="lecEndTime">
                        <h4>End Time:<br></h4>
                        <select ng-model="newLecTime.endHr">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select> :
                        <select ng-model="newLecTime.endMin">
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <select ng-model="newLecTime.endAmPm">
                            <option value="am">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                </div>

                <h4>Lecture Location:<br></h4>
                <input class="inputText" type="text" ng-model="lecPlace" placeholder="Type in lecture hall location"><br>
                <h4>Class website:<br></h4>
                <input class="inputText" type="text" ng-model="web" placeholder="full url please"><br>

                <h3 style="border-bottom-style: inset; margin-bottom:10px;">Class Final<br></h3>

                <h4>Final Date:<br></h4>
                <input class="inputText" type="text" ng-model="fnlDate" placeholder="i.e. 05/15/12"><br>

                <div id="finTimeContainer">
                    <div id="finStartTime">
                        <h4>Final Start Time:<br></h4>
                        <select ng-model="newFinTime.startHr">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select> :
                        <select ng-model="newFinTime.startMin">
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <select ng-model="newFinTime.startAmPm">
                            <option value="a">am</option>
                            <option value="p">pm</option>
                        </select>
                    </div>
                    <div id="finEndTime">
                        <h4>End Time:<br></h4>
                        <select ng-model="newFinTime.endHr">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select> :
                        <select ng-model="newFinTime.endMin">
                            <option value="00">00</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <select ng-model="newFinTime.endAmPm">
                            <option value="am">am</option>
                            <option value="pm">pm</option>
                        </select>
                    </div>
                </div>

                <h4>Final Location:<br></h4>
                <input class="inputText" type="text" ng-model="fnlLoc" placeholder="Type Final location"><br>

                <input class="submitNew" type="submit">
                <button type="button" class="cancel" id="cancelClass">Cancel</button>
            </form>
        </div>
        <script src="scripts.js"></script>
    </body>
</html>
